*{
margin:0px;
padding:0px;
list-style:none;
}
body {
  background-image: url("backgroundF.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  height: 100vh; 
  margin: 0;
}
#all{
width:1000px;
margin:0 auto;
}
#top{
background-image: url("topF.jpg");
width:1000px;
height:200px;
}


nav a{
text-decoration:none;
line-height:30px;
margin-left:50px;
margin-right:50px;
color:#999999;
font-weight:bold;
}
nav a:hover{
color:#5EFFDE;
}
.dangqian{
color:#000000;
}
#main{
width:980px;
margin:0 auto;
background-color:#FFCC00CC;
padding: 10px;
}
.navbar{
  background-image: url("navbarF.jpg");
width:1000px;
height:28px;

}
   table {
background: yellow;
color: black;
    border-collapse: collapse;
  }
td, th { 
    border: 1px solid black;
  }
ol {
  font-size: 16px;
}
li {
  margin-bottom: 5px;
}
.custom-hr {
  border-color: black;
  border-width: 2px;
}